body {
    height: 100;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    background-color: lightgray;
    flex-direction: column;
}

#game-board {
    background-color: rgba(0, 0, 0, 0.856);
    width: 80vmin;
    height: 80vmin;
    /* border:  1.5vmin green groove;     */
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake{
    background-color: green;
    border: .25vmin solid black;
}

.apple{
    background-color: red;
    border-radius: 20vh;
    border: .25vmin solid black;
}

#scoreboard{
    border: black solid;
    text-align: center;
    height: 2vh;
    width: 10vw;
    margin: 1vh;   
    color: green;
    background-color: rgba(0, 0, 0, 0.856);
}


